*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
  font-weight: 900;
  color: black;
  font-family: 'Poppins', sans-serif;
}


.main__header{
 text-align: center;
 margin-top: 20px;
 letter-spacing: 1.3px;
 word-spacing: 3px;
 color: dodgerblue;
 box-shadow: 0 3px 3px 2px rgba(0,0,0,.2);
}
